<ion-view view-title="Nouvel utilisateur">
	<ion-content class="padding">
		<div class="item item-avatar">
			<h1>Créer un compte</h1>
		</div>			
		<form name="addUser">

			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Nom d'utilisateur</span>
					<input type="text" placeholder="Nom d'utilisateur"  required ng-model="addUserCtrl.user.name"/>
				</label>
					
				<label class="item item-input item-floating-label">
					<span class="input-label">Mot de passe</span>
					<input type="password" placeholder="Mot de passe" required ng-model="addUserCtrl.user.password"/>
				</label>
					
				<label class="item item-input item-floating-label">
					<span class="input-label">Confirmer mot de passe</span>
					<input type="password" placeholder="Confirmer mot de passe" required />
				</label>
					
				<label class="item item-input item-floating-label">
					<span class="input-label">Prénom</span>
					<input type="text" placeholder="Prénom"  required ng-model="addUserCtrl.user.firstname"/>
				</label>
					
				<label class="item item-input item-floating-label">
					<span class="input-label">Nom</span>
					<input type="text" placeholder="Nom"  required ng-model="addUserCtrl.user.lastname"/>
				</label>
					
				<label class="item item-input item-floating-label">
					<span class="input-label">Téléphone</span>
					<input type="text" placeholder="Téléphone"  required ng-model="addUserCtrl.user.phone"/>
				</label>
			</div>

			<p ng-if="addUserCtrl.error" class="error">{{ addUserCtrl.error }}</p>

			<button class="button button-full button-positive" ng-click="addUserCtrl.addUser()" ng-disabled="addUser.$invalid">Enregistrer</button>
				
		</form>
	</ion-content>
</ion-view>