<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"><h1>Bienvenue</h1></div>
        <div class="row">
          <div class="col col-33 col-offset-80">
              <button class="button">Skip</button>
            </div>
        </div>
    
      <img class="imgLogo" src="img/logo.png" alt="icon">
      <div class="accueil">
            <h4>Bienvenue dans citizen engagement</h4>
              <p>
                Cette application vous permet de visualiser les vandalismes en Suisse.
                  Vous pouvez également nous aider en localisant ces infractions et en les photographiant à l'aide de cette application.
              </p>
      </div>     
  </ion-slide>
    
  <ion-slide>
    <div class="box yellow"><h1>Aide</h1></div>
        <div class="row">
          <div class="col col-33 col-offset-80">
              <button class="button">Skip</button>
            </div>
        </div>
  </ion-slide>
    
  <ion-slide>
    <div class="box pink"><h1>Fin</h1></div>
        <div class="row">
          <div class="col col-33 col-offset-80">
              <button class="button">Skip</button>
            </div>
        </div>
            <img class="imgClean" src="img/clean.png" alt="icon">

      <div class="fin">
      <h3>Prêt à nous aider?</h3>
            <a class="button icon-right ion-chevron-right ">Continuer</a>
      </div>
  </ion-slide>
</ion-slide-box>