<ion-view view-title="Détails du problème">
		
	<ion-content class="padding">
		<div class="card">
			<div class="item item-avatar">
					<h2>Détails du problème</h2>
			</div>
			<div class="item item-body">
				<img class="full-image" src="{{issueDetailsCtrl.issue.imageUrl}}">
				{{issueDetailsCtrl.issue.description}}
			</div>
		</div>
			
		<div class="card">
			<div class="item">Type:</div>
				<div class="item item-text-wrap">Tags:</div>
		</div>
		
		<h3>Ajouter un commentaire</h3>

		<div class="list card">
			<label class="item item-input">
				<input type="text" placeholder="Nom et prénom">
			</label>
			<label class="item item-input">
				<textarea placeholder="Commentaire"></textarea>
			</label>
		</div>
		<button class="button button-full button-positive">Envoyer</button> 
		
		<h3>Commentaires</h3>

		<ul>
			<li ng-repeat='comment in issueDetailsCtrl.comments'>
				<issue-comment comment='comment'></issue-comment>
			</li>
		</ul>
	</ion-content>
</ion-view>