
<ion-view view-title="Issue Details">
    
<ion-content>
      
        <div class="card">
           <div class="item item-avatar">
              <h1>Détails de l'issue</h1>

           </div>


           <div class="item item-body">
              <img class="full-image" src="my-image.png">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
            </div>
        </div>
      
        <div class="card">
           <div class="item">
             Type:
           </div>

           <div class="item item-text-wrap">
              Tags:
           </div>
        </div>
    
<h3>Commentaires</h3>

<div class="card">
        <p>LapinBleu</p>
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
     <p>LapinBleu</p>
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
     <p>LapinBleu</p>
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
    
        <h3>Ajouter un commentaire</h3>

<div class="list card">
  <label class="item item-input">
    <input type="text" placeholder="Nom et prénom">
  </label>
  <label class="item item-input">
    <textarea placeholder="Commentaire"></textarea>
  </label>
</div>
<button class="button button-full button-positive">
 Envoyer
</button>
  </ion-content>
</ion-view>