<ion-view view-title="Connexion">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-text-wrap">
			 Bienvenue sur Citizen Engagement! Connectez-vous pour utiliser l'application.
			</div>
		</div>
		<form name="loginForm">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="loginCtrl.user.name" required />
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="loginCtrl.user.password" required />
				</label>
			</div>
			<p ng-if="loginCtrl.error" class="error">{{ loginCtrl.error }}</p>
			<button class="button button-full button-positive" ng-click="loginCtrl.logIn()" ng-disabled="loginForm.$invalid">Se connecter</button>
			<a ui-sref="addUser"><button class="button button-full button-positive">Créer un compte</button></a>
		</form>
	</ion-content>
</ion-view>