<ion-view view-title="New Issue">
	<ion-content>
			
		<label class="item item-input">
			<input type="text" placeholder="Description" required />
		</label>

		<label class = "item item-input item-select">
			<div class = "input-label">Sélectionner un type: </div>

			<select>
				<option>Graffiti</option>
				<option>Vitre cassée</option>
				<option>Affiche vandalisée</option>
				<option>Crottes de chiens</option>
			</select>
		</label>
			
		<label class="item item-input">
			<input type="text" placeholder="Tag"/>
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Tag"/>
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Tag"/>
		</label>

		<tags-input ng-model="tags"></tags-input>
		<p>Tags: {{tags}}</p>
		<p>latitude: {{newIssueCtrl.latitude}}, longitude: {{newIssueCtrl.longitude}}</p>
		<button class="button button-full button-positive">Ajouter une photo</button> 
	</ion-content>
</ion-view>