<ion-view view-title="Déclarer un problème">
	<ion-content class="padding">
		<form name="addIssue">
			<div class="card">
				<label class="item item-input">
					<textarea placeholder="Description" ng-model="newIssueCtrl.issue.description" required></textarea>
				</label>

				<label class = "item item-input item-select">
					<div class = "input-label">Sélectionner un type : </div>
					<select ng-model="newIssueCtrl.issue.issueTypeHref" required>
						<option ng-repeat='type in newIssueCtrl.issueTypes' ng-value="type.href">{{type.name}}</option>
					</select>
				</label>

				<label class="item item-input">Latitude : {{newIssueCtrl.latitude}}
				</label>
				<label class="item item-input">Longitude : {{newIssueCtrl.longitude}}
				</label>

				<tags-input class="item" ng-model="newIssueCtrl.tags" placeholder="Ajouter des tags"></tags-input>
			</div>
			<img ng-if='newIssueCtrl.pictureData' width='33%' ng-src='data:image/png;base64,{{ newIssueCtrl.pictureData }}'/>
			<button class="button button-full button-positive" ng-click="newIssueCtrl.takePicture()">Ajouter une photo</button>
			<button class="button button-full button-positive" ng-click="newIssueCtrl.addIssue()" ng-disabled="addIssue.$invalid">Enregistrer</button>
		</form>
		<p>{{newIssueCtrl.error}}</p>
	</ion-content>
</ion-view>