<ion-view view-title="User profil">
	<ion-nav-buttons side="secondary">
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="card">
			<div class="item item-avatar">
				<h1>Mon profil</h1>
			</div>	



			<div class="userInfos">
				<label class="item item-input">
				
					<input type="text" placeholder="Username" required />
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Password" required />
				</label>

				 <label class="item item-input">
					<input type="text" placeholder="Prénom" required />
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Nom" required />
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Téléphone" required />
				</label>
			</div>

		</div>



		<button class="button button-full button-positive">Enregistrer</button>
		<button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button button-full logout">Log Out</button>
	</ion-content>
</ion-view>