/* Empty. Add your own CSS if you like */


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #444;

body{
    font-family: 'Roboto', sans-serif;
}

#listeIssues{
     text-decoration:none; 

}


.auteur{
    padding-left: 10px;
    background-color: #0D2340;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -5px;
}

.bar.bar-stable {
    border-color: #0D2340;
    background-color: #0D2340;
    color: #fff;
    
}

.bar.bar-stable .title{
	color: #fff;
}

.bar-stable .button.button-clear{
	color: #fff;
}

.tab-nav{
background-color: #0D2340

}

ion-tabs.tabs-color-active-positive .tab-item{
	color: #fff;
}


.button.button-positive{
	background-color: #3D9DD9;
}

.button.button-assertive {
	background-color: #023E73;
}

.item-divider {
	color: #444;
}

tags-input .tags{
	box-shadow:none !important;
}

tags-input .tags .tag-item{
	background: #F2F2F2 !important;
}

.skipbutton{
    text-align: right;
}

.imgLogo{
    width: 100%;
}

.accueil{
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
}

.fin{
    text-align: center;     
}

.imgClean{
    width: 80%;
padding-left: 50px;
}
